body {
  margin: 10px;
}

a {
  text-decoration: none;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 58, 58);
  height: 50px;
}

.logo_container {
  display: flex;
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
}

.vindaq_name {
  color: #fff;
}

.menu_row_desktop {
  align-items: center;
  justify-content: space-between;
  margin-right: 16px
}

.icon_name_container {
  color: white;
  margin: 14px
}

.login_container {
  color: #fff;
  box-shadow: 0 1px 4px rgb(166, 166, 184);
  margin: 16px;
}

.icon_container {
  display: flex;
  margin: 14px
}

.icon_container_login {
  margin: 14px;
  display: flex;
}

.singup_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin: 5% auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0.6);
}

.right_container {
  padding: inherit;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_container {
  width: 45%;

}

.image_singup {
  width: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.left_container_column {
  display: block;
  box-sizing: border-box;
  margin-bottom: 5%;
  padding: 4%;
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 15px;
}

.left_container_submit {
  width: 40%;
  height: 50px;
  background: rgb(80, 79, 79);
  border: none;
  border-radius: 2px;
  color: #fff;
  transition: 0.2s ease;
  cursor: pointer;
}


@media (min-width: 1200px) {
  .menu_row_desktop {
    display: flex;
  }

  .menu_row_mobile {
    display: none;
  }

  #menu {
    display: none;
  }

  .menu_mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu_row_desktop {
    display: flex;
  }

  .menu_row_mobile {
    display: none;
  }

  .left_container {
    display: none;
  }

  .singup_container {
    justify-content: center;
  }

  #menu {
    display: none;
  }

  .menu_mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu_row_desktop {
    display: none;
  }

  .menu_row_mobile {
    display: flex;
  }

  .right_container {
    width: 100%;
  }

  .singup_container {
    height: inherit;
  }

  #menu {
    display: block;
  }

  .menu_mobile {
    display: block;
  }
}

#menuToggle {
  display: block;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  height: 25px;
  top: 20px;
  width: 35px;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px;
  background: #f0eded;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 52%;
  height: 80vh;
  /* margin: 0 0 0 0px; */
  top: 0%;
  right: -100%;
  padding: 0;
  margin: 59px 0;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: none;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
}

#menuToggle input:checked~ul {
  transform: translate(-197%, 0%);
}