.f-20 {
  font-size: 20px;
  color: rgb(156, 11, 69);
}
body {
  margin: 10px;
}
a {
  text-decoration: none;
}
hr {
  color: #fff;
  background-color: rgb(204, 143, 143);
  height: 1px;
  border: 0;
  margin: 0;
}
.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 58, 58);
  height: 50px;
}
.logo_container {
  display: flex;
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
}
.menu_row {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
  margin-right: 16px
}
.icon_name_container {
  color: white;
}
.icon_container {
  display: flex;
}
.two_menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_menu_container {
  display: flex;
  margin: 0 80px;
  align-items: center;
}
.item_menu {
padding: 8px;
}
.search_container {
  display: flex;
  align-items: center;
}
.sumbit_search_container {
  margin-right: 80px;
  border-radius: 10%;
  color: rgb(73, 68, 68);
}
.three_menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 700px 0 80px;
}
.item_container {
  padding: 8px;
}
.item_link {
  color: rgb(156, 11, 69);
}